@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --default-color: #3c3b3d;
    --white-color: #ffffff;
    --white-light-color: #fbf9f6;
    --black-color: #0a0a0a;
    --grey-color: #757478;
    --second-color: #0a6647;
    --second-color-hover: #0d805a;
    --second-dark-color: #124e3b;
    --accent-color: #f2cdce;
    --accent-color-hover: #ecb5b7;
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin dekstop {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--default-color);
    font-style: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}

a {
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
}

a,
button {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.section {
    padding-block: 80px;
}

.container {
    max-width: 1280px;
    margin-inline: auto;
}

.button {
    @include reset-button;

    &--green {
        color: var(--white-color);
        background-color: var(--second-color);

        @include hover {
            background-color: var(--second-color-hover);
        }
    }

    &--red {
        color: var(--black-color);
        background-color: var(--accent-color);
        border-radius: 4px;

        @include hover {
            background-color: var(--accent-color-hover);
        }
    }

    &--empty {
        color: var(--second-color);

        @include hover {
            color: var(--white-color);
            background-color: var(--second-color-hover);
        }
    }

    &__text-wrapper {
        position: relative;
        display: inline;
        color: inherit;
    }

    &__arrow-right {
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 11.5px;
            height: 2px;
            background-color: var(--black-color);
        }

        &::before {
            transform: rotate(45deg);
            right: -15%;
            top: 5.5px;
        }

        &::after {
            transform: rotate(-45deg);
            right: -15%;
            bottom: 5.5px;
        }
    }
}

.header {
    padding-block: 0;
    @include mobile {
        padding-bottom: 15px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        height: 72px;

        @include mobile {
            flex-direction: column;
            height: fit-content;
            row-gap: 20px;
        }
    }

    &__logo {
        &-link {
            align-self: center;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 32px;
        margin-right: auto;
        margin-left: 62px;

        @include mobile {
            flex-direction: column;
            margin-left: auto;
            row-gap: 16px;
        }
    }

    &__link {
        font-size: 15px;
        font-weight: inherit;
        position: relative;

        @include hover {
            color: var(--second-color-hover);

            &.drop-down-triangle::after {
                border-top-color: var(--second-color-hover);
            }
        }

        &.drop-down-triangle::after {
            content: "";
            position: absolute;
            top: 70%;
            left: 105%;
            width: 0;
            height: 0;
            translate: 0 -70%;
            border-left: 11px solid transparent; /* Ліва сторона */
            border-right: 11px solid transparent; /* Права сторона */
            border-top: 11px solid var(--black-color); /* Колір і розмір трикутника */
            transition: border 300ms ease-in-out;
        }
    }

    &__buttons-wrapper {
        display: flex;
        column-gap: 24px;

        @include mobile {
            flex-direction: column;
            row-gap: 10px;
        }
    }

    &__button {
        padding-inline: 18px;
        border-radius: 4px;
        margin-block: 14px;

        @include mobile {
            align-self: center;
            margin-block: 0px;
            padding-block: 10px;
        }
    }
}

.hero {
    background-image: url("/images/hero/hero-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block: 167px;

    @include mobile {
        background-position: 65%;
    }

    &__wrapper {
        display: flex;

        @include mobile {
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-left: 125px;
        max-width: 470px;
        padding: 40px 48px;
        background-color: var(--white-color);
        border-radius: 8px;

        @include mobile {
            margin-left: 0px;
            padding: 20px 24px;
            max-width: 250px;
            align-self: center;
        }
    }

    &__title {
        font-size: 40px;
        color: var(--second-dark-color);
        margin-bottom: 22px;

        @include mobile {
            font-size: 24px;
        }
    }

    &__description {
        margin-bottom: 73px;

        @include mobile {
            font-size: 14px;
        }
    }

    &__button {
        color: var(--black-color);
    }

    &__fullname {
        align-self: flex-end;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 70px;
    }

    &__firstname,
    &__lastname {
        color: var(--white-color);
    }
}
