@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --default-color: #3c3b3d;
  --white-color: #ffffff;
  --white-light-color: #fbf9f6;
  --black-color: #0a0a0a;
  --grey-color: #757478;
  --second-color: #0a6647;
  --second-color-hover: #0d805a;
  --second-dark-color: #124e3b;
  --accent-color: #f2cdce;
  --accent-color-hover: #ecb5b7;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--default-color);
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}

a {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
}

a,
button {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: inherit;
}

.section {
  padding-block: 150px;
}
@media (max-width: 767px) {
  .section {
    padding-block: 75px;
  }
}

.container {
  max-width: 1440px;
  padding-inline: 24px;
  margin-inline: auto;
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
}
.button--green {
  color: var(--white-color);
  background-color: var(--second-color);
}
@media (hover: hover) {
  .button--green:hover {
    background-color: var(--second-color-hover);
  }
}
@media (hover: none) {
  .button--green:active {
    background-color: var(--second-color-hover);
  }
}
.button--red {
  color: var(--black-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}
@media (hover: hover) {
  .button--red:hover {
    background-color: var(--accent-color-hover);
  }
}
@media (hover: none) {
  .button--red:active {
    background-color: var(--accent-color-hover);
  }
}
.button--empty {
  color: var(--second-color);
}
@media (hover: hover) {
  .button--empty:hover {
    color: var(--white-color);
    background-color: var(--second-color-hover);
  }
}
@media (hover: none) {
  .button--empty:active {
    color: var(--white-color);
    background-color: var(--second-color-hover);
  }
}
.button__text-wrapper {
  position: relative;
  display: inline;
  color: inherit;
}
.button__arrow-right::before, .button__arrow-right::after {
  content: "";
  position: absolute;
  width: 11.5px;
  height: 2px;
  background-color: var(--black-color);
}
.button__arrow-right::before {
  transform: rotate(45deg);
  right: -15%;
  top: 5.5px;
}
.button__arrow-right::after {
  transform: rotate(-45deg);
  right: -15%;
  bottom: 5.5px;
}

.header {
  padding-block: 0;
}
@media (max-width: 767px) {
  .header {
    padding-bottom: 15px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 72px;
}
@media (max-width: 767px) {
  .header__wrapper {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    row-gap: 20px;
  }
}
.header__logo-link {
  align-self: center;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-right: auto;
  margin-left: 62px;
}
@media (max-width: 1023px) {
  .header__list {
    margin-left: 16px;
  }
}
@media (max-width: 767px) {
  .header__list {
    flex-direction: column;
    margin-left: auto;
    row-gap: 16px;
  }
}
@media (max-width: 1023px) {
  .header__item {
    font-size: 14px;
    text-align: center;
  }
}
.header__link {
  font-size: 15px;
  font-weight: inherit;
  position: relative;
}
@media (max-width: 1023px) {
  .header__link {
    font-size: 14px;
  }
}
@media (hover: hover) {
  .header__link:hover {
    color: var(--second-color-hover);
  }
  .header__link:hover.drop-down-triangle::after {
    border-top-color: var(--second-color-hover);
  }
}
@media (hover: none) {
  .header__link:active {
    color: var(--second-color-hover);
  }
  .header__link:active.drop-down-triangle::after {
    border-top-color: var(--second-color-hover);
  }
}
.header__link.drop-down-triangle::after {
  content: "";
  position: relative;
  top: 15px;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid var(--black-color);
  transition: border 300ms ease-in-out;
}
.header__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 767px) {
  .header__actions {
    flex-direction: column;
    row-gap: 10px;
  }
}
.header__action-link {
  font-size: 14px;
  color: var(--second-color);
  text-align: center;
  padding-inline: 18px;
  padding-block: 10px;
  border-radius: 4px;
}
@media (hover: hover) {
  .header__action-link:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}
@media (hover: none) {
  .header__action-link:active {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}
.header__button {
  padding-inline: 18px;
  padding-block: 10px;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .header__button {
    align-self: center;
    margin-block: 0px;
  }
}

.hero {
  background-image: url("../../images/hero/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-block: 167px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .hero {
    background-position: 65%;
  }
}
.hero__wrapper {
  display: flex;
}
@media (max-width: 767px) {
  .hero__wrapper {
    flex-direction: column;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  margin-left: 125px;
  max-width: 470px;
  padding: 40px 48px;
  background-color: var(--white-color);
  border-radius: 8px;
}
@media (max-width: 767px) {
  .hero__content {
    margin-left: 0px;
    padding: 20px 24px;
    max-width: 250px;
    align-self: center;
  }
}
.hero__title {
  font-size: 40px;
  color: var(--second-dark-color);
  margin-bottom: 22px;
}
@media (max-width: 767px) {
  .hero__title {
    font-size: 24px;
  }
}
.hero__description {
  margin-bottom: 73px;
}
@media (max-width: 767px) {
  .hero__description {
    font-size: 14px;
  }
}
.hero__button {
  color: var(--black-color);
}
.hero__fullname {
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 70px;
}
.hero__firstname, .hero__lastname {
  color: var(--white-color);
}

.job {
  background-color: var(--white-light-color);
  position: relative;
  z-index: 0;
}
.job__title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 29px;
}
.job__description {
  font-size: 23px;
  text-align: center;
  margin-inline: auto;
  max-width: 771px;
  margin-bottom: 44px;
}
.job__list {
  display: flex;
  -moz-column-gap: 66px;
       column-gap: 66px;
}
@media (max-width: 767px) {
  .job__list {
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .job__list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
  }
}
.job__item {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .job__item {
    flex: 0 0 40%;
  }
}
.job__item-image {
  width: 100%;
  height: 100%;
  margin-bottom: 53px;
}
.job__item-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 17px;
}
.job__item-description {
  font-size: 15px;
  text-align: center;
}

.comment {
  padding-block: 0;
}
.comment__wrapper {
  padding-inline: 0;
  max-width: none;
  display: flex;
}
@media (max-width: 767px) {
  .comment__wrapper {
    flex-direction: column;
  }
}
.comment__image {
  width: 50%;
  height: 50%;
}
@media (max-width: 767px) {
  .comment__image {
    width: 100%;
    height: 100%;
  }
}
.comment__content {
  background-color: var(--second-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 1023px) {
  .comment__content {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .comment__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.comment__quotes {
  margin-bottom: 38px;
}
.comment__title {
  font-size: 40px;
  color: var(--white-color);
  max-width: 450px;
  margin-bottom: 16px;
}
@media (max-width: 1023px) {
  .comment__title {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .comment__title {
    font-size: 18px;
    text-align: center;
  }
}
.comment__description {
  font-size: 20px;
  color: var(--white-color);
  margin-bottom: 59px;
}
@media (max-width: 1023px) {
  .comment__description {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .comment__description {
    font-size: 16px;
    text-align: center;
  }
}
.comment__button {
  padding-left: 20px;
  padding-right: 36px;
}

.locations {
  background-color: #f8f3f1;
}
.locations__title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .locations__title {
    margin-bottom: 40px;
  }
}
.locations__toggle {
  width: 100%;
  border-radius: 15984px;
  padding-block: 8px;
}
.locations__toggle-wrapper {
  display: flex;
  max-width: 480px;
  margin-inline: auto;
  background-color: var(--white-color);
  border-radius: 15984px;
  margin-bottom: 64px;
}
@media (max-width: 1023px) {
  .locations__swiper {
    margin-bottom: 40px;
  }
}
.locations__swiper-slide-image {
  width: 100%;
  height: 198px;
  position: relative;
  top: 4px;
}
.locations__swiper-slide-content {
  background-color: var(--white-color);
  padding: 30px 48px;
}
.locations__swiper-slide-title {
  font-size: 16px;
  color: var(--grey-color);
  text-align: center;
}
.locations__swiper-slide-price {
  font-size: 36px;
  color: var(--default-color);
  text-align: center;
}
.locations__swiper-button-prev {
  top: 0% !important;
  left: 0% !important;
}
.locations__swiper-button-next {
  top: 0% !important;
  right: 0% !important;
}
.locations__swiper-navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -175px;
  gap: 350px;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .locations__swiper-navigation-buttons {
    margin-bottom: 40px;
  }
}
@media (max-width: 1023px) {
  .locations__swiper-navigation-buttons {
    gap: 60px;
    top: 0;
  }
}
.locations__swiper-button-prev, .locations__swiper-button-next {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-top: 0px !important;
  color: var(--black-color) !important;
}
.locations__button {
  display: block;
  margin-inline: auto;
  padding: 12px 36px 12px 20px;
}

.healthcare__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 83px;
  max-width: 420px;
  margin-inline: auto;
}
.healthcare__image {
  width: 100%;
  height: 100%;
}

.opportunities {
  background-color: var(--white-light-color);
}
.opportunities__title {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 29px;
}
.opportunities__description {
  font-size: 24px;
  text-align: center;
  max-width: 400px;
  margin-bottom: 67px;
  margin-inline: auto;
}
.opportunities__content {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  .opportunities__content {
    flex-direction: column;
    align-items: center;
  }
}
.opportunities__content-image {
  width: 30%;
  height: 30%;
}
@media (max-width: 767px) {
  .opportunities__content-image {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
  }
}
.opportunities__content-wrapper {
  align-self: flex-end;
  min-width: 0;
  max-width: 440px;
}
@media (max-width: 767px) {
  .opportunities__content-wrapper {
    align-self: center;
    max-width: 100%;
  }
}
.opportunities__content-title {
  font-size: 40px;
  margin-bottom: 28px;
}
@media (max-width: 767px) {
  .opportunities__content-title {
    font-size: 24px;
    text-align: center;
  }
}
.opportunities__content-description {
  font-size: 18px;
  text-align: left;
  max-width: 430px;
}
@media (max-width: 767px) {
  .opportunities__content-description {
    text-align: center;
    font-size: 16px;
    max-width: none;
    margin-bottom: 20px;
  }
}
.opportunities__content-swiper-slide {
  margin-bottom: 83px;
}
@media (max-width: 1023px) {
  .opportunities__content-swiper-slide {
    margin-bottom: 20px;
  }
}
.opportunities__content-swiper-tools {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}
@media (max-width: 767px) {
  .opportunities__content-swiper-tools {
    justify-content: center;
  }
}
.opportunities__content-swiper-pagination {
  position: relative !important;
  display: block !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-inline: 10px !important;
  align-self: center !important;
  bottom: 0 !important;
  left: 0 !important;
}
.opportunities__content-swiper-pagination .swiper-pagination-bullet {
  border-radius: 0 !important;
  background-color: #ede19b !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
}
.opportunities__content-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #d6a834 !important;
}
.opportunities__content-swiper-button-prev, .opportunities__content-swiper-button-next {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-top: 0px !important;
  color: var(--black-color) !important;
}
.opportunities__content-swiper-button-prev::after, .opportunities__content-swiper-button-next::after {
  font-size: 24px !important;
  font-weight: bold !important;
}

.marketplace {
  background-color: var(--second-dark-color);
  padding-block: 0;
}
.marketplace__wrapper {
  display: flex;
  padding-inline: 0;
  margin-inline: 0;
  max-width: none;
}
@media (max-width: 767px) {
  .marketplace__wrapper {
    flex-direction: column;
  }
}
.marketplace__content {
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1023px) {
  .marketplace__content {
    padding: 20px;
  }
}
.marketplace__title {
  font-size: 40px;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 39px;
  max-width: 462px;
}
@media (max-width: 1023px) {
  .marketplace__title {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .marketplace__title {
    text-align: center;
  }
}
.marketplace__description {
  font-size: 20px;
  color: var(--white-color);
  margin-bottom: 62px;
  max-width: 471px;
}
@media (max-width: 1023px) {
  .marketplace__description {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .marketplace__description {
    text-align: center;
  }
}
.marketplace__image {
  flex: 0 0 50%;
  width: 50%;
  height: 50%;
}
@media (max-width: 767px) {
  .marketplace__image {
    width: 100%;
    height: 100%;
  }
}
.marketplace__list {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 767px) {
  .marketplace__list {
    justify-content: space-evenly;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}
.marketplace__item {
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  border-radius: 4px;
}
.marketplace__link-image {
  padding: 9px 13px;
}

.news {
  padding-block: 100px;
}
.news__title {
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 80px;
  text-align: center;
}
.news__swiper-wrapper {
  align-items: center;
}
.news__swiper-slide-image {
  width: 100%;
  height: 100%;
}

.sign-up-banner {
  background-color: var(--second-dark-color);
  padding-block: 100px;
}
.sign-up-banner__title-first {
  font-size: 39px;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
}
.sign-up-banner__title-second {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 63px;
  color: var(--white-color);
}
.sign-up-banner__button {
  padding-left: 20px;
  padding-right: 36px;
  display: block;
  margin-inline: auto;
}
.sign-up-banner__button .button__arrow-right::after, .sign-up-banner__button .button__arrow-right::before {
  right: -25%;
}/*# sourceMappingURL=style.css.map */